html {
    --hue: 30;

  --text-color-normal: hsl(var(--hue), 0%, 62%);
  --text-color-light: hsl(var(--hue), 0%, 35%);
  --text-color-body: hsl(var(--hue), 0%, 90%);
  --text-color-highlight: hsl(var(--accent-hue), 0%, 45%);
  --link-color: hsl(var(--hue), 0%, 90%);
  --link-hover-color: hsl(var(--hue), 0%, 70%);
  --link-visited-color: hsl(var(--hue), 0%, 85%);
  --title-color: hsl(var(--hue), 0%, 65%);
  --accent-color: hsl(var(--accent-hue), 0%, 70%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 0%, 43%);
  --button-text-color: black;
  --background: hsl(var(--hue), 0%, 10%);
  --background-hover: hsl(var(--hue), 0%, 20%);
  --table-title-background: hsl(var(--hue), 0%, 15%);
  --table-background: hsl(var(--hue), 0%, 20%);
  --table-border: hsl(var(--hue), 0%, 10%);
  --category-title: hsl(var(--hue), 0%, 15%);
  --category-title-background: hsl(var(--hue), 0%, 5%);
}
/*
html {
    --hue: 30;
   
  --text-color-normal: hsl(var(--hue), 10%, 62%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-body: hsl(var(--hue), 20%, 90%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --link-color: hsl(var(--hue), 100%, 90%);
  --link-hover-color: hsl(var(--hue), 80%, 70%);
  --link-visited-color: hsl(var(--hue), 50%, 85%);
  --title-color: hsl(var(--hue), 20%, 65%);
  --accent-color: hsl(var(--accent-hue), 100%, 70%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 63%, 43%);
  --button-text-color: black;
  --background: hsl(var(--hue), 0%, 10%);
  --background-hover: hsl(var(--hue), 20%, 20%);
  --table-title-background: hsl(var(--hue), 3%, 15%);
  --table-background: hsl(var(--hue), 3%, 20%);
  --table-border: hsl(var(--hue), 3%, 10%);
  --category-title: hsl(var(--hue), 3%, 15%);
  --category-title-background: hsl(var(--hue), 2%, 5%);
}
*/

body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-normal);
    text-align: left;
    background-color: var(--background);
}

.container {
    min-width: 800px;
    max-width: 65%;
}

a:link {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

a:visited {
    color: var(--link-visited-color);
}


div.forum_post_container {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: var(--table-background);
}

div.post_author_info {
    width: 150px;
    flex-shrink: 0;
    margin-left: 10px;
}

div.post_content {
    flex-grow: 1;
}

div.post_info {
    border-bottom: 2px dotted grey;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.post_body {
    min-height: 100px;
    border-bottom: 2px dotted grey;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    color: var(--text-color-body);
}

.post_author_name {
    color: var(--title-color);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.8rem;
    font-weight: 400;
    word-wrap: break-word;
}

.post_footer_button {
    padding: 5px;
    float: right
}

.category-title {
    color: var(--title-color);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.0rem;
    font-weight: 750;
    line-height: 1.5;
}

tr.table-header{
    background-color: var(--table-title-background);
    color: var(--title-color);
}

tr.table-row {
    background-color: var(--table-background);
    height: 85px;
}

tr.table-header:hover th{
    background-color: var(--background-hover);
}

tr.table-row:hover th{
    background-color: var(--background-hover);
}

.thread-title {
    color: var(--title-color);
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 1.0;
}

.edit-button {
    font-size: 1.3rem;
    font-weight: 300;
}

th.small_avatar{
    text-align: right;
}


th.thread_author {
    word-wrap: break-word;
}


/*

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
    color: var(--title-color);
}

span {
    white-space: pre-wrap;
}

.category-title a:visited {
    color: var(--title-color);
}


*/

/*HSL idea from:
https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a

html {
    --hue: 20;
    --accent-hue: 25;
   
    --text-color-normal: hsl(var(--hue), 10%, 62%);
    --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
}

body { 
    background-color: hsl(var(--hue), 10%, 62%); }
tr {
    background-color: hsl(var(--hue), 77%, 17%);
    font-size: 1.5em}
}
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }*/