    <h2 class="category-title">
        <a href="{{ url_for('main.category', category_id=category.id) }}">

        </a>
    </h2>
    <table class="table" style="table-layout:fixed">
        <colgroup>
            <col span="1" style="width: 52%;">
            <col span="1" style="width: 3%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">

        <tr class="table-header">
            <th>
                <a href="{{ url_for('main.category', category_id=category.id) }}">{{ category.title }}</a>
            </th>
            <th></th>
            <th>Author</th>
            <th>Post Count</th>
            <th>Last Post</th>
        </tr>
        {% if active_threads %}
            {% for thread in category.active_threads(active_threads) %}
                {% include '_thread.html' %}
            {% endfor %}
        {% else %}
            {% for thread in category.threads %}
                {% include '_thread.html' %}
            {% endfor %}
        {% endif %}
    </table>
