        <tr>
            <th>
                <a href="{{ url_for('main.category', category_id=category.id) }}">
                    {{ category.title }}
                </a>
                <a href="{{ url_for('main.edit_category', category_id=category.id) }}">
                    Edit
                </a>
            </th>
            <th width=20px>
                <a href="{{ url_for('main.user', username=category.author.username) }}">
                    <img src="{{ category.author.avatar(18) }}" />
                </a>
            </th>
            <th style="word-wrap: break-word">
                <a href="{{ url_for('main.user', username=category.author.username) }}">
                    {{ category.author.username }}
                </a>
            </th>
            <th>
                {{ category.threads.count() }}
            </th>
            <th>
                {{ category.post_count() }}
            </th>
            <th>
                {% set last_post = category.last_post() %}
                {% if last_post %}
                    {% set thread_link %}
                        <a href="{{ url_for('main.thread', thread_id=last_post.thread.id) }}">
                            {{ last_post.thread.title }}
                        </a>
                    {% endset %}
                    
                    {% set user_link %}
                        <a href="{{ url_for('main.user', username=last_post.author.username) }}">
                            {{ last_post.author.username }}
                        </a>
                    {% endset %}

                    {{ thread_link }}
                     by {{ user_link }}
                    {{ moment(last_post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
                {% else %}
                    N/A
                {% endif %} 
                
            </th>
        </tr>