<div class="forum_post_container"
     {% if pinned %}
        id="pinned_post"
     {% else %}
        id="p{{ post.id }}"
     {% endif %} >
    <div class="post_author_info">
            <span class="post_author_name">
                {% set user_link %}
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {% endset %}
                {{ user_link }}
            </span>
        <br>
        <span class="post_author_avatar">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {% if post.author.avatar_path %}
                    <img src="{{ url_for('static', filename=post.author.avatar_path) }}"/>
                    {% endif %}
                </a>
            </span>
    </div>
    <div class="post_content">
        <div class="post_info">
            <a href="{{ url_for('main.post', post_id=post.id) }}">
                {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
            </a>
            <span class="post-edited-info">
            {% if post.edits.count() > 0%}
                <a href="{{ url_for('main.edit_history', post_id=post.id) }}">
                    <img src="{{ url_for('static', filename='images/forum_icons/post_edited.svg')}}" height="35px">
                    post last edited -- {{ moment(post.last_edited()).format('MMMM Do YYYY, h:mm:ss a') }}
                </a>
                </span>
            {% endif %}
            </span>
        </div>
        <div class="post_body">
            <span>{{ post.body_formatted |safe }}</span>
        </div>
        <div class="post_footer_bar">
            <div class="post_footer_reactions" id="reactions{{ post.id }}">
                {% set reactions = post.reactions %}
                {% include '_reactions.html' %}
            </div>
            <div class="post_footer_buttons">
                <span class="post_footer_button">
                    {% if pinned %}
                    <form action="{{ url_for('main.unpin_post', post_id=post.id, redirect_page=page) }}">
                        <input type="submit" class="btn btn-outline-warning" value="Unpin">
                    </form>
                    {% else %}
                    <form action="{{ url_for('main.pin_post', post_id=post.id) }}">
                        <input type="submit" class="btn btn-outline-warning" value="Pin">
                    </form>
                    {% endif %}
                </span>
                <span class="post_footer_button">
                      <button type="button" class="btn btn-info reactButton" data-toggle="popover"
                               title="React" data-placement="left" post_id="{{ post.id }}">
                          React
                      </button>
                </span>
                <span class="post_footer_button">
                    <form action="{{ url_for('main.quote_post', post_id=post.id) }}">
                        <input type="submit" class="btn btn-outline-primary" value="Quote">
                    </form>
                </span>

                {% if post.author == current_user %}
                <span class="post_footer_button">
                    <form action="{{ url_for('main.edit_post', post_id=post.id) }}">
                        <input type="submit" class="btn btn-outline-warning" value="Edit">
                    </form>
                </span>
                <span class="post_footer_button">
                    <form action="{{ url_for('main.delete_post', post_id=post.id) }}">
                        <input type="submit" class="btn btn-outline-danger" value="Delete">
                    </form>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br>