    <div class="forum_post_container" id="p{{ post.id }}">
        <div class="post_author_info">
            <span class="post_author_name">
                {% set user_link %}
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                {% endset %}
                {{ user_link }}
            </span>
            <br>
            <span class="post_author_avatar">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}"/>
                </a>
            </span>
        </div>
        <div class ="post_content">
            <div class="post_info">
                <a href="{{ url_for('main.thread', thread_id=post.thread.id, page=post.page(),
                         _anchor='p' + post.id|string) }}">
                    {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
                </a>
            </div>
            <div style="word-wrap: break-word" class="post_body">
                <span>{{ post.body }}</span>
            </div>
            <div class="post_footer_bar">
                <div class="post_footer_buttons">
                    <span class="post_footer_button">
                        <form action="{{ url_for('main.react', post_id=post.id, reaction_type='Like') }}" method="post">
                            <input type="submit" value="Like" name="Like"/>
                        </form>
                    </span>
                    <span class="post_footer_button">
                        <a href="{{ url_for('main.quote_post', post_id=post.id) }}">
                            Quote
                        </a>
                    </span>

                    {% if post.author == current_user %}
                    <span class="post_footer_button">
                        <a href="{{ url_for('main.edit_post', post_id=post.id) }}">
                            Edit
                        </a>
                    </span>
                    {% endif %}
                </div>
                <div class="post_footer_reactions">
                    {% for reaction in post.reactions %}
                    {{ reaction.user.username }} {{ reaction.reaction_type }} this post
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>