    <table class="table" id="{{ 'p' + post.id|string }}">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 85%;">
        <tr>
            <td class="user-info" rowspan="3">
                <div>
                    {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                    {% endset %}
                    {{ user_link }}
                </div>
                <div>
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        <img src="{{ post.author.avatar(70) }}" />
                    </a>
                </div>
            </td>
            <td class="post-header">
                {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
            </td>
        </tr>
        <tr>
            <td style="word-wrap: break-word" class="post-body">

                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
            </td>
        </tr>
        <tr>
             <td class="post-footer">
                <a href="{{ url_for('main.quote_post', post_id=post.id) }}">
                    Quote
                </a>

                {% if post.author == current_user %}
                <a href="{{ url_for('main.edit_post', post_id=post.id) }}">
                    Edit
                </a>
                {% endif %}
            </td>
        <tr>
    </table>