    <div class="reaction_menu" post_id="{{ post_id }}">
        <input class="emojiSearch" post_id="{{ post_id }}">
        {% include "_emoji_grid.html" %}
        {% if pages %}
        <nav aria-label="...">
            <ul class="pager">
                {% for page in pages %}
                    {% if page %}
                        {% if page != starting_page %}
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="change_page(post_id='{{ post_id }}',
                                        page='{{ page }}'); return false;">
                                    {{ page }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item"><strong>{{ page }}</strong></li>
                        {% endif %}
                    {% else %}
                        <span class=ellipsis>. . . </span>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/react_menu.js') }}"></script>