        <tr class="table-row">
            <th class="thread-title">
                <div class="thread-title">
                    <a href="{{ url_for('main.thread', thread_id=thread.id) }}">
                        {{ thread.title }}
                    </a>
                </div>
                {% if thread.author == current_user %}
                <div class="edit-button">
                    <a href="{{ url_for('main.edit_thread', thread_id=thread.id) }}">
                        (Edit)
                    </a>
                </div>
                {% endif %}
            </th>
            <th class="small-avatar">
                <a href="{{ url_for('main.user', username=thread.author.username) }}">
                    {% if thread.author.avatar %}
                    <img src="{{ thread.author.avatar(18) }}" />
                    {% endif %}
                </a>
            </th>
            <th class="thread_author">
                <a href="{{ url_for('main.user', username=thread.author.username) }}">
                    {{ thread.author.username }}
                </a>
            </th>
            <th>
                {{ thread.post_count() }}
            </th>
            <th>
                {% set last_post = thread.last_post() %}
                {% if last_post %}
                    
                    {% set user_link %}
                        <a href="{{ url_for('main.user', username=last_post.author.username) }}">
                            {{ last_post.author.username }}
                        </a>
                    {% endset %}

                    {{ thread_link }}
                     by {{ user_link }}
                    {{ moment(last_post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
                {% else %}
                    N/A
                {% endif %} 
                
            </th>
        </tr>