{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
{% endblock %}


{% block title %}
{% if title %}{{ title }} - tdh{% else %}Welcome to tdh{% endif %}
{% endblock %}
{% block navbar %}
<div class="container">
    <nav class="navbar navbar-default fixed">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img class="navbar-logo" src="{{ url_for('static', filename='logo.png') }}">
            </a>
        </div>
        <div class="navbar-title">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                Department of Dragons
            </a>
        </div>
        <ul class="nav navbar-nav">
            {% if current_user.is_anonymous %}
            <li class="nav-link"><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}

            {% if current_user.mod_level >= 2 %}
            <li class="nav-link">
                <a href="{{ url_for('main.manage_threads') }}"> Manage Threads </a>
            </li>
            {% endif%}
            {% if current_user.mod_level >=1 %}
            <li class="nav-link">
                <a href="{{ url_for('main.emojis') }}"> Emojis </a>
            </li>
            {% endif %}
            <li class="nav-link">
                <a href="{{ url_for('main.messages') }}">
                    Messages
                    {% set new_messages = current_user.new_messages() %}
                    {% if new_messages %}
                    <span id="message_count" class="badge"
                          style="visibility: {% if new_messages %}visible
                                               {% else %}hidden {% endif %};">
                            {{ new_messages }}
                        </span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-link"><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
            <li class="nav-link"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}

<script>
        // ...
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }

</script>
{% endblock %}