{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


    <h1>Emoji</h1>
    <hr>

    <form name="uploadEmoji" method="POST" enctype="multipart/form-data" action="/emojis" onsubmit="return validate({{ max_emoji_size }})">
      <input type="file" id="images" name="images" multiple="">
      <input class="submit" type="submit" value="add">
    </form>


    <br>
    <h3>Existing Emoji</h3>
    <br>
    {% for emoji in emojis %}
    <div class="emoji-row">
        <div class="reaction_box" id="{{ emoji.name }}">
            <img class="reaction" src="{{ url_for('static', filename=emoji.file_path) }}">
        </div>
        <div class="emoji-name-box">
            <input type="text" class="emoji-name-field" emoji_id="{{ emoji.id }}" name="emoji_name" value="{{ emoji.name }}">
        </div>
        <span class="delete_emoji">
            <a href="{{ url_for('main.delete_emoji', emoji_id=emoji.id) }}">
                x
            </a>
        </span>
    </div>
    <br>
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    function validate(max_emoji_size) {
        var files = document.getElementById('images').files;
        for (var x in files) {
            if (files[x].size > max_emoji_size) {
                alert(files[x].name + " exceeds the limit of " + max_emoji_size.toString() + " bytes");
                return false;
            }
        }
    }
    </script>
    <script src="{{ url_for('static', filename='js/emoji_rename.js') }}"></script>
{% endblock %}

