{% extends "base.html" %}

{% block app_content %}
    <h1>{{ 'Messages' }}</h1>
    {% for message in messages.items %}
        <div class="forum_post_container">
            <div class="post_author_info">
                <span class="post_author_name">
                    {% set user_link %}
                    <a href="{{ url_for('main.user', username=message.author.username) }}">
                        {{ message.author.username }}
                    </a>
                    {% endset %}
                    {{ user_link }}
                </span>
            <br>
            <span class="post_author_avatar">
                <a href="{{ url_for('main.user', username=message.author.username) }}">
                    {% if message.author.avatar_path %}
                    <img src="{{ url_for('static', filename=message.author.avatar_path) }}"/>
                    {% endif %}
                </a>
            </span>
            </div>
            <div class="post_content">
                <div class="post_info">
                {{ moment(message.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}
                </div>
                <div class="message_content">
                    <div style="word-wrap: break-word" class="message_body">
                        <span>{{ message.body |safe }}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="justified{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous Page
                </a>
            </li>

            {% for page in messages.iter_pages() %}
                {% if page %}
                    {% if page != messages.page %}
                        {% set page_url = url_for('main.main.messages', page=page) %}
                        <li class="page-item"><a class="page-link" href="{{ page_url }}">{{ page }} </a></li>
                    {% else %}
                        <li class="page-item"><strong>{{ page }}</strong></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>. . . </span>
                {% endif %}
            {% endfor %}

            <li class="justified{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next Page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}