{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <div class="thread-title-bar">
        <a href="{{ url_for('main.category', category_id=thread.category.id) }}"> {{ thread.category.title }}</a> >
        <a href="{{ url_for('main.thread', thread_id=thread.id, page=1) }}"> {{ thread.title }}</a>
    </div>
    {% if pinned_post %}
        {% with pinned = True %}
            {% set post = pinned_post %}
            {% include '_post.html' %}
        {% endwith %}
    {% endif %}
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}

    {% if form %}
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token }}
        <div class="form-group required">
            {{ form.post.label(class_="control-label") }}
            <div class="post-form-buttons" align="right">
                <button type="button" id="bold-tag" class="btn btn-info">b</button>
                <button type="button" id="italics-tag" class="btn btn-info">i</button>
                <button type="button" id="quote-tag" class="btn btn-info">q</button>
                <button type="button" id="spoiler-tag" class="btn btn-info">sp</button>
                <button type="button" id="image-tag" class="btn btn-info">im</button>
                <button type="button" id="youtube-tag" class="btn btn-info">yt</button>
            </div>
            {{ form.post(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-default") }}
    </form>
    {% endif %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="justified{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous Page
                </a>
            </li>

            {% for page in posts.iter_pages() %}
                {% if page %}
                    {% if page != posts.page %}
                        {% set page_url = url_for('main.thread', thread_id=thread.id, page=page) %}
                        <li class="page-item"><a class="page-link" href="{{ page_url }}">{{ page }} </a></li>
                    {% else %}
                        <li class="page-item"><strong>{{ page }}</strong></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>. . . </span>
                {% endif %}
            {% endfor %}

            <li class="justified{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next Page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/react_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emoji_react.js') }}"></script>
    <script src="{{ url_for('static', filename='js/melon-markup.js') }}"></script>
{% endblock %}