{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    {% for post in posts.items %}
        {% include '_post.html' %}
    {% endfor %}
    <div class="lead emoji-picker-container">
    {% if form %}
        <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.post) }}
        <!--{{ form.post() }}-->
        {{ wtf.form_field(form.submit) }}
        </form>
    {% endif %}
    </div>


    
    <nav aria-label="...">
        <ul class="pager">
            <li class="justified{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Previous Page
                </a>
            </li>
            
            {% for page in posts.iter_pages() %}
                {% if page %}
                    {% if page != posts.page %}
                        {% set page_url = url_for('main.thread', thread_id=thread.id, page=page) %}
                        <li class="page-item"><a class="page-link" href="{{ page_url }}">{{ page }} </a></li>
                    {% else %}
                        <li class="page-item"><strong>{{ page }}</strong></li>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>. . . </span>
                {% endif %}
            {% endfor %}
            
            <li class="justified{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next Page <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/emoji_react.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.emojiarea.js') }}"></script>
    <script src="{{ url_for('static', filename='js/emoji-picker.js') }}"></script>
    <script>

          $(function() {
            // Initializes and creates emoji set from sprite sheet
            window.emojiPicker = new EmojiPicker({
              emojiable_selector: '[data-emojiable=true]',
              assetsPath: '{{url_for('static', filename='img/')}}',
              popupButtonClasses: 'fa fa-smile-o'
            });
            // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
            // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
            // It can be called as many times as necessary; previously converted input fields will not be converted again
            window.emojiPicker.discover();
          });

    </script>

{% endblock %}
